* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

footer {
  padding: 0px 64px;
}

header {
  display: inline;
  width: 100%;
}

.navbar {
  height: 64px;
  box-sizing: border-box;
  padding: 8px 64px;
  position: sticky;
  top: 0;
  display: flex;
  gap: 32px;
}

.header-container > a > img {
  height: 100%;
}

nav {
  width: 100%;
}

nav > ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

section#jumbotron {
  height: calc(100vh - 64px);
}

.card {
  border: 2px solid aqua;
  border-radius: 12px;
}

main {
  padding: 0px 64px;
  display: flex;
  gap: 16px;
}

#content {
  flex: 3;
}

#content > section {
  padding: 64px 64px;
}

#content > section > h2 {
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25;
}

#content > section > h3 {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

#strength, #gallery {
  background-color: #cbd5e1;
}

.gallery-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.screenshot-wrapper {
  flex-basis: 500px;
  flex-grow: 1;
  box-sizing: border-box;
}

.screenshot-wrapper > img {
  width: 100%;
}

aside {
  position: sticky;
  top: 80px;
  flex: 1;
  padding: 64px 16px;
  height: fit-content;
}
